* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
}

#bachground {
    height: 100vh;
    width: 100%;
    background-image: url(images/Asset\ 1-02\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: fixed;  
}

.heder{
    position: relative;
    display: flex;
    justify-content: center;
    margin:auto;
    width: 1400px;
    /*border-color: chartreuse;
    border-style:solid;*/
}
.conteiner1{
    position: relative;
    width: 1400px;
    height: 46px;
    left: 1px;
    top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    /*border-color:#FF007A;
    border-style:solid;
    border-color: chartreuse;
    border-style: solid;*/
    
    /*margin-left: 50px;*/
}

.markai{
    position: absolute;
    width: 111px;
    height: 46px;
    left: 10px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30.6849px;
    line-height: 46px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}

ul{
    display: inline-block;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 640px;
    height: 30px;
    left: 450px;
    top: 0px;

}

li {
    width: 87px;
    height: 30px;
    left: 900px;
    top: 34px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px;

}

li:hover{
    color:blueviolet;
    font-size: 25px;
}

.logReg{
    display: flex;
    flex-direction: row;
    /*position:relative;*/
    display:flexbox;
}

.log{
    position: absolute;
    width: 56px;
    height: 40px;
    left: 1180px;
    top: -8px;

    margin-top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    
}

.log:hover{
    color:blueviolet;
}

.btn1 {
    width: 150px;
    height: 50px;
    left: 0px;
    top: 0px;
    margin-top: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    
    background: var(--gradient);
    border:0;
    --border-width: 3px;
    --border-radius: 50.0391px;
    padding: -1rem -2rem;
    position: relative;
    border-radius: var(--border-radius);
    z-index: 1;
}

.btn1::before {
    content: '';
    display: block;
    height: calc(100% - calc(var(--border-width) *2));
    width: calc(100% - calc(var(--border-width) *2));

    background: #76087b;
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);

    border-radius: var(--border-radius);
    z-index: -1;
}

button:hover{
    color:blueviolet;
}

.conteiner2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    width: 880px;
    height: 543px;
    left: 15px;
    top: 90px;
    /*border-color: chartreuse;
    border-style: solid;*/
}

.letAi{
    position: absolute;
    width: 339px;
    height: 68px;
    left: 280px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
    margin-bottom: 300px;
    padding: auto;
}

h1 {
    position: absolute;
    width: 880px;
    height: 147px;
    left: 40px;
    top: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 147px;
    padding: auto;

/* Linear */

    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: auto;

    margin-bottom: 300px;
}

.text{
    position: absolute;
    width: 601px;
    height: 90px;
    left: 125px;
    top: 180px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
}
.button{
    position: absolute;
    width: 293px;
    height: 72px;
    left: 290px;
    top: 300px;
    background-image: url(images/Group\ 1006.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow2 {
    position: absolute;
    width: 85px;
    height: 33px;
    left: 400px;
    top: 400px;
    font-size: 100px;
    color: #FFFFFF;
}

.arrow2:hover {
    color: #5773FF;
}





